<<<<<<< HEAD
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background: #111;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
  margin: 0 24px;
  font-size: 14px;
  transition: color 0.3s;
  font-weight: bold;
}

.navbar a:hover {
  color: #fff;
}

.welcome-msg {
  font-size: 14px;
  color: grey;
  font-weight: 400;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}

.person {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  text-align: center;
}

.person h1 {
  font-size: 48px;
}

.person p {
  margin-top: 16px;
  font-size: 19px;
  color: #ccc;
}

section {
  padding: 64px 32px;
  max-width: 800px;
  margin: auto;
}

h2 {
  margin-bottom: 16px;
}

ul {
  margin-top: 16px;
  padding-left: 24px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 32px;
  margin-top: 32px;
}

.skill {
  background: #2a2a2a;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.skill:hover {
  transform: scale(1.05);
  background: #333;
}

.skill img {
  width: 80px;
  height: 80px;
  margin-bottom: 13px;
}

.skill span {
  color: #f0f0f0;
  font-weight: 500;
}
footer {
  text-align: center;
  padding: 32px;
  background: #111;
  margin-top: 48px;
  font-size: 15px;
=======
body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background: #111;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
  margin: 0 24px;
  font-size: 14px;
  transition: color 0.3s;
  font-weight: bold;
}

.navbar a:hover {
  color: #fff;
}

.welcome-msg {
  font-size: 14px;
  color: grey;
  font-weight: 400;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}

.person {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  text-align: center;
}

.person h1 {
  font-size: 48px;
}

.person p {
  margin-top: 16px;
  font-size: 19px;
  color: #ccc;
}

section {
  padding: 64px 32px;
  max-width: 800px;
  margin: auto;
}

h2 {
  margin-bottom: 16px;
}

ul {
  margin-top: 16px;
  padding-left: 24px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 32px;
  margin-top: 32px;
}

.skill {
  background: #2a2a2a;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.skill:hover {
  transform: scale(1.05);
  background: #333;
}

.skill img {
  width: 80px;
  height: 80px;
  margin-bottom: 13px;
}

.skill span {
  color: #f0f0f0;
  font-weight: 500;
}
footer {
  text-align: center;
  padding: 32px;
  background: #111;
  margin-top: 48px;
  font-size: 15px;
>>>>>>> 176325acbb719ce1f6a6dca2b9e99669c8ab8592
}